body{
    padding: 0;
    margin: 0;
    background-image:url(../image/background.png);
    background-repeat: repeat;
    background-attachment: fixed;
    cursor: default; 
}

.main_content{
    width: auto;
    padding: 10px;
}

.top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 36px;
    width: 36px;
    line-height: 36px;
    text-align: center;
    background-color: #cc0000;
    border: 2px solid black;
    border-radius: 36px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    cursor: pointer;
    opacity: 0.5;
    &:hover {
        opacity: 1;
    }
}


button {
    cursor: pointer;
    border: 1px solid black;
    background: rgb(221,221,221);
    background: -moz-linear-gradient(top, rgba(221,221,221,1) 0%, rgba(188,188,188,1) 100%);
    background: -webkit-linear-gradient(top, rgba(221,221,221,1) 0%,rgba(188,188,188,1) 100%);
    background: linear-gradient(to bottom, rgba(221,221,221,1) 0%,rgba(188,188,188,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#bcbcbc',GradientType=0 );
    &:hover {
        color: white;
        background: rgb(130,130,130);
        background: -moz-linear-gradient(top, rgba(130,130,130,1) 0%, rgba(188,188,188,1) 100%);
        background: -webkit-linear-gradient(top, rgba(130,130,130,1) 0%,rgba(188,188,188,1) 100%);
        background: linear-gradient(to bottom, rgba(130,130,130,1) 0%,rgba(188,188,188,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#828282', endColorstr='#bcbcbc',GradientType=0 );
    }
}

input {
    cursor: text;
}
input[type="checkbox"] {
    cursor: pointer;
}
select {
    cursor: pointer;
}

.keyword {
    display: none;
}