* {
  margin: 0;
  padding: 0;
  cursor: default; }

header {
  padding: 5px 0 5px 0;
  width: 100vw;
  text-align: center;
  background: #3d9eff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #3d9eff 0%, #1888f7 44%, #0075ea 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #3d9eff 0%, #1888f7 44%, #0075ea 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #3d9eff 0%, #1888f7 44%, #0075ea 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d9eff', endColorstr='#0075ea',GradientType=0 );
  /* IE6-9 */ }

.title_1 {
  font-size: 36px;
  font-weight: bold; }

.title_2 {
  font-size: 28px; }

.title_3 {
  font-size: 18px; }

.tag {
  padding: 3px;
  border: 1px solid #D6D6D6;
  background: #fcfcfc;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fcfcfc 83%, #fcfcfc 83%, #f2f2f2 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #fcfcfc 83%, #fcfcfc 83%, #f2f2f2 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fcfcfc 83%, #fcfcfc 83%, #f2f2f2 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#f2f2f2',GradientType=0 );
  /* IE6-9 */
  box-shadow: 5px 5px 5px #777777;
  border-radius: 5px 5px;
  min-width: 100px;
  max-width: 300px;
  text-align: center;
  font-weight: bold;
  word-spacing: 3px;
  letter-spacing: 3px; }

.grid {
  display: inline-block;
  vertical-align: top;
  margin: 8px;
  border: 1px solid #dddddd; }
  .grid .header {
    text-align: center;
    font-weight: bold; }
  .grid td {
    text-align: right;
    padding: 3px;
    white-space: nowrap; }
  .grid tr:nth-child(even) {
    background: #efefef; }
  .grid tr:hover {
    background: #ffff70; }

.target_item > div, .quest_range, .event, .button_area, #result > div {
  margin: 10px 3px;
  border: 1px solid #dddddd;
  padding: 10px;
  box-shadow: 5px 5px 5px #D6D6D6;
  background: #fcfcfc;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #fcfcfc 83%, #fcfcfc 83%, #f2f2f2 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #fcfcfc 83%, #fcfcfc 83%, #f2f2f2 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #fcfcfc 83%, #fcfcfc 83%, #f2f2f2 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#f2f2f2',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

.button_area > button {
  padding: 3px;
  margin: 3px 5px;
  min-width: 50px; }

.grid_area {
  will-change: transform;
  overflow: hidden; }

.fold {
  height: 0; }

.unfold {
  height: 100%; }

.unfold_btn, .question {
  /*display: inline-block;
    vertical-align: middle;*/
  float: right;
  min-width: 20px;
  min-height: 15px;
  line-height: 15px;
  font-size: 12px;
  text-align: center;
  border: 2px solid #85c2ff;
  background: #fcfcfc;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #fcfcfc 83%, #fcfcfc 83%, #f2f2f2 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #fcfcfc 83%, #fcfcfc 83%, #f2f2f2 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #fcfcfc 83%, #fcfcfc 83%, #f2f2f2 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#f2f2f2',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  box-shadow: 2px 2px 2px #dddddd;
  border-radius: 5px 5px; }

.unfold_btn {
  cursor: pointer; }

.question {
  cursor: help; }

.not_enough {
  background: #e87373; }

.finish {
  background: #7ae17f; }

.hide {
  display: none; }

